<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	<%= link_to image_tag("digital_renaissance_earth.jpg", :alt => "Digital Renaissance"), thebook_path %>
    	<div class="carousel-caption">
                      <h4>A story about a dreamer that wants to change the world.</h4>
                      <p>Joining a startup accelerator, he will find an algorithm that can change the music creation forever. But soon he will find he is working for the dark side. </p>
      </div>
    </div>
    <div class="item">
    	<%= image_tag("long_tail_q1.jpg", :alt => "The Long Tail") %>
      <div class="carousel-caption">
         <p>We are entering a new era. It promises prosperity and richness of ideas as never before.
         </p>
      </div>
    </div>
    <div class="item">
    	<%= image_tag("abundance_q1.jpg", :alt => "Abundance") %>
      <div class="carousel-caption">
         <p>Never before mankind had the means to supply food, clothes and shelter for all. Never before were humans freed from physical labor as now.
         </p>
      </div>      
    </div>
    <div class="item">
    	<%= image_tag("wikinomics_q1.jpg", :alt => "Wikinomics") %>
      <div class="carousel-caption">
         <p>Never was as easy to create and spread ideas. The open source movement wins. The more you share your idea the more valuable it gets.
         </p>
      </div>
    </div>    
    <div class="item">
    	<%= image_tag("linchpin_q1.jpg", :alt => "Linchpin") %>
      <div class="carousel-caption">
         <p>Beyond the knowledge and creative worker, it's time for the artistic worker.
         </p>
      </div>
    </div>
    <div class="item">
    	<%= image_tag("screw_business_q1.jpg", :alt => "Screw Business as Usual") %>
      <div class="carousel-caption">
         <p>Business and work must have a purpose. Business can not be just about profits anymore.
         </p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="hero-unit">
	<div id="digren">
		<h1>Digital Renaissance</h1>
	</div>
	<h2>A new era for dreamers</h2>
	<ul>
		<li>We are entering a new era. It promises prosperity and richness of ideas as never before.</li>
		<li>Never before mankind had the means to supply food, clothes and shelter for all. Never before were humans freed from physical labor as now.</li>
		<li>Never was as easy to create and spread ideas. The open source movement wins. The more you share your idea the more valuable it gets.</li>
		<li>Beyond the knowledge and creative worker, it's time for the artistic worker.</li>
		<li>Business and work must have a purpose. Business can not be just about profits anymore.</li>
		<li>We need more dreamers, willing to bet all on their beliefs.</li>
	</ul>

	<small>A new fiction book by Jose Miguel Cansado will launch on Amazon on 1st December. Get a free pdf copy here.</small>
  <br><br>
  <%= render 'layouts/quiero' %>
  <hr>
	<%= render 'layouts/social' %>
</div>
<div class="row-fluid">
  <div class="offset1 span3">
    <%= image_tag("digital_renaissance_cover_30.jpg", :alt => "Digital Renaissance") %>
  </div>
  <div class="span7">
    <h4>A story about a dreamer that wants to change the world.</h4>
    <p>Joining a startup accelerator, he will find an algorithm that can change the music creation forever. But soon he will find he is working for the dark side. </p>
    <p>The fist fiction work of Jose Miguel Cansado will soon be selling on Amazon.</p>
    <p>Now you can get a free preview pdf copy here.</p>
    <p><%= link_to "Get a free copy &raquo;".html_safe, request_copy_path, class: "btn" %></p>
  </div>    
</div>
<hr>
<div class="row-fluid">
  <div class="span6">
	<blockquote>
		<p>In a world of material goods [...] trade is a zero-sum game. I’ve got a hunk of gold and you have a watch. If we trade, then I have a watch and you have a hunk of gold. But if you have an idea and I have an idea, and we exchange them, then we both have two ideas. It’s nonzero.
		</p> 
		<small>Dean Kamen, Inventor</small>
	</blockquote>
  </div>
  <div class="span6">
	<blockquote>
		<p>Nothing happens unless first a dream.</p> 
		<small>Carl Sandburg, Poet</small>
	</blockquote>

  </div>
</div>

<script>
    $('.carousel').carousel({
        interval: 1500
    })​;
</script>


