<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	<%= link_to image_tag("digital_renaissance_earth.jpg", :alt => "Digital Renaissance"), thebook_path %>
    	<div class="carousel-caption">
                      <h4>A non-profit project</h4>
                      <p>All author earnings from this book will be donated to Unicef.</p>
      </div>
    </div>
    <div class="item">
          <%= image_tag("Shanghai-KL-Lankayan.jpg", :alt => "Collage") %>
            
    </div>
    <div class="item">
          <%= image_tag("Shanghai.jpg", :alt => "Shanghai") %>
         
    </div>
    <div class="item">
          <%= image_tag("KL.jpg", :alt => "Kuala Lumpur") %>
        <div class="carousel-caption">
             <p>Kuala Lumpur, Malaysia
             </p>
        </div>     
    </div>    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<h2>Praise from readers:</h2>
<div id="praise">
<div class="row-fluid">
  <div class="span6">
  <blockquote>
    <p>Thriller, technology, love, business. The story traps you and just can't stop reading until the end. 
    </p> 
  </blockquote>
  </div>
  <div class="span6">
  <blockquote>
    <p>An attractive fantasy with the glamorous life in Asia Pacific around Shanghai and Kuala Lumpur.</p>
  </blockquote>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
  <blockquote>
    <p>A fresh new plot [...] managed to scratched in technology, culture, romance and a little dash of thriller.
    </p> 
  </blockquote>
  </div>
  <div class="span6">
  <blockquote>
    <p>This book was an enjoyable read, taking me back to some of the places I have lived and visited as well.</p>
  </blockquote>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
  <blockquote>
    <p>The story was fast paced, and linked to technology and business, and at the same time weaving some suspense and romance.
    </p> 
  </blockquote>
  </div>
  <div class="span6">
  <blockquote>
    <p>All in all a good read, entertaining and with some "food-for-thought."
    </p>
  </blockquote>
  </div>
</div>

</div>

<br>

<div class="row-fluid">
  <div class="offset1 span3">
    <%= image_tag("digital_renaissance_cover_30.jpg", :alt => "Digital Renaissance") %>
  </div>
  <div class="span8">
    <h4>A story about a dreamer that wants to change the world.</h4>
    <p>After joining a startup accelerator, Mike Marquez will come across an algorithm that can change music creation forever. But soon he will find he is working for the dark side. </p>
    <p>A story about pursuing your dreams, being true to yourself, and standing for your own beliefs.</p>
    
    <p><%= link_to "Buy on Amazon &raquo;".html_safe, "http://www.amazon.com/dp/B009YJOB6M?tag=ttbiz-20", class: "btn btn-success" %></p>
    <p><em><small>All royalties from this book go to Unicef</small></em></p>
    <%= render 'layouts/social' %>
  </div>    
</div>

  

<!-- quotes  
<hr>
<div class="row-fluid">
  <div class="span6">
	<blockquote>
		<p>In a world of material goods [...] trade is a zero-sum game. I’ve got a hunk of gold and you have a watch. If we trade, then I have a watch and you have a hunk of gold. But if you have an idea and I have an idea, and we exchange them, then we both have two ideas. It’s nonzero.
		</p> 
		<small>Dean Kamen, Inventor</small>
	</blockquote>
  </div>
  <div class="span6">
	<blockquote>
		<p>Nothing happens unless first a dream.</p> 
		<small>Carl Sandburg, Poet</small>
	</blockquote>

  </div>
</div>

-->

<script>
    $('.carousel').carousel({
        interval: 1500
    })​;
</script>


