<% p=params[:al] %>
<% if p=="y"  %>
  <div class="alert alert-info">
    <p>If you agree we are entering a new era, then this book might be for you. You can get a <strong>free copy</strong> for a limited time.</p>
  </div>
<% end %>

<div class="row-fluid">
  <div class="offset1 span3">
    <%= image_tag("digital_renaissance_cover_30.jpg", :alt => "Digital Renaissance") %>
    <br><br>
  </div>
  <div class="span8">
    <h4>A story about a dreamer that wants to change the world.</h4>
    <p>After joining a startup accelerator, Mike Marquez comes across an algorithm that can change music creation forever. But soon he will find he is working for the dark side. Even more, when a colleague dies in strange circumstances.</p>
    <p>A story about pursuing your dreams, being true to yourself, and standing for your own beliefs.</p>
    

    <p><%= link_to "Buy on Amazon &raquo;".html_safe, "http://www.amazon.com/dp/B009YJOB6M?tag=ttbiz-20", class: "btn btn-success" %></p>
    <p><em><small>All royalties from this book go to Unicef</small></em></p>
  </div>    
</div>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">

    <div class="active item">
      <%= image_tag("Shanghai-KL-Lankayan.jpg", :alt => "Collage") %>
        
    </div>
    <div class="item">
      <%= image_tag("Shanghai.jpg", :alt => "Shanghai") %>
     
    </div>
    <div class="item">
      <%= image_tag("KL.jpg", :alt => "Kuala Lumpur") %>
      <div class="carousel-caption">
         <p>Kuala Lumpur, Malaysia
         </p>
      </div>     
    </div>
    <div class="item">
      <%= image_tag("digital_renaissance_earth.jpg", :alt => "Earth-rise") %>
      <div class="carousel-caption center">
         <p>Shanghai, KL and Lankayan &mdash; Some of the places where action happens. 
         </p>
      </div>      
    </div>
    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="hero-unit">
	<div id="digren">
		<h2>A modern Quixote that dreams to change the world</h2>
	</div>
	<p>Through the eyes of Mike, discover an emerging fast growing Asia, discover the startup world and the dynamics of startup accelerators. And above all discover how a new generation thinks about work, about the future and about their dreams and ambitions to make a difference.</p>

  <p>Set in Shanghai and Kuala Lumpur, the story uncovers the values that guide a young generation of dreamers. The guys that are shaping tomorrow with their actions today. They're driving us into a new era: The Digital Renaissance.</p>

  <p>Get into the new era through the eyes of a young engineer that dares to challenge the status quo and, in his own way, change the world.</p>

	<%= render 'layouts/quiero' %>
	<hr>
	<%= render 'layouts/social' %>
    
    <p><%= link_to "Get a free pdf sample &raquo;".html_safe, request_copy_path, class: "btn" %></p>
</div>


<script>
    $('.carousel').carousel({
        interval: 1500
    })​;
</script>