
<div class="row-fluid">
  <div class="offset1 span3">
    <%= image_tag("digital_renaissance_cover_30.jpg", :alt => "Digital Renaissance") %>
    <br><br>
  </div>
  <div class="span7">
    <h4>A story about a dreamer that wants to change the world.</h4>
    <p>Joining a startup accelerator, Mike Marquez will find an algorithm that can change the music creation forever. But soon he will find he is working for the dark side. </p>
    <p>The fist fiction work of Jose Miguel Cansado will soon be selling on Amazon.</p>
    <p>Now, for a limited time, you can get a free preview pdf copy here.</p>
    <p><%= link_to "Get a free copy &raquo;".html_safe, request_copy_path, class: "btn" %></p>
  </div>    
</div>

<div class="hero-unit">
	<div id="digren">
		<h2>A modern Quixote that dreams to change the world</h2>
	</div>
	<p>Through the eyes of Mike Marquez, discover the emerging fast growing Asia, discover the startup world and the dynamics of startup accelerators. And above all discover how a new generation thinks about work, about the future and about their dreams and ambitions to make a difference.</p>
	<p>Discover the principles of a new era, the values that guide a young generation of dreamers that are building the future. The guys shaping tomorrow with their actions today. They're driving us into a new era: The Digital Renaissance.</p>
	<p>Get into the new era through the eyes of Mike, through the attitudes of a young engineer that dares to challenge the status quo and, in his own way, change the world.</p>

	<%= render 'layouts/quiero' %>
	<hr>
	<%= render 'layouts/social' %>
</div>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <!-- Out
    <div class="active item">
    	<%= image_tag("digital_renaissance_earth.jpg", :alt => "Digital Renaissance") %>
    	<div class="carousel-caption">
                      <h4>A story about a dreamer that wants to change the world.</h4>
                      <p>Joining a startup accelerator, he will find an algorithm that can change the music creation forever. But soon he will find he is working for the dark side. </p>
      </div>
    </div>
    -->
    <div class="item">
    	<%= image_tag("Shanghai.jpg", :alt => "Shanghai") %>

    </div>
    <div class="item">
      <%= image_tag("KL.jpg", :alt => "Kuala Lumpur") %>
    
    </div>
    <div class="active item">
    	<%= image_tag("Shanghai-KL-Lankayan.jpg", :alt => "Collage") %>
      <div class="carousel-caption">
         <p>Some of the places in Asia where action happens: Shanghai, KL and Lankayan.
         </p>
      </div>      
    </div>
    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<script>
    $('.carousel').carousel({
        interval: 1500
    })​;
</script>