<% p=params[:al] %>
<% if p=="n"  %>
  <div class="alert alert-info">
    <p>If you don't agree we are entering a Digital Renaissance, see <strong>quotes and books from other authors</strong> with insights into how the world is evolving.</p>
  </div>
<% end %>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	<%= link_to image_tag("digital_renaissance_earth.jpg", :alt => "Digital Renaissance"), thebook_path %>
    	<div class="carousel-caption center">
                <h2>Insightful quotes from great authors</h2>
      </div>
    </div>
    <div class="item">
    	<%= image_tag("long_tail_q1.jpg", :alt => "The Long Tail") %>
      <div class="carousel-caption">
         <p>1. We are entering a new era. It promises prosperity and richness of ideas as never before.
         </p>
      </div>
    </div>
    <div class="item">
    	<%= image_tag("abundance_q1.jpg", :alt => "Abundance") %>
      <div class="carousel-caption">
         <p>2. Never before mankind had the means to supply food, clothes and shelter for all. Never before were humans freed from physical labor as now.
         </p>
      </div>      
    </div>
    <div class="item">
    	<%= image_tag("wikinomics_q1.jpg", :alt => "Wikinomics") %>
      <div class="carousel-caption">
         <p>3. Never was as easy to create and spread ideas. The open source movement wins. The more you share your idea the more valuable it gets.
         </p>
      </div>
    </div>    
    <div class="item">
    	<%= image_tag("linchpin_q1.jpg", :alt => "Linchpin") %>
      <div class="carousel-caption">
         <p>4. Beyond the <em>knowledge worker</em>, it's time for the <em>artistic worker</em>.
         </p>
      </div>
    </div>
    <div class="item">
    	<%= image_tag("screw_business_q1.jpg", :alt => "Screw Business as Usual") %>
      <div class="carousel-caption">
         <p>5. Business and work must have a purpose. Business can not be just about profits anymore.
         </p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>



<% @bookquotes.each do |q| %>
	<% if q.published == "y" %>
		<div class="row">
		  <div class="offset2 span2">
		    <%= link_to image_tag("#{q.asin}.jpeg"), "http://www.amazon.com/dp/#{q.asin}?tag=ttbiz-20" %>
		    <br><br>
		  </div>
		  <div class="span6">
		    <blockquote><p><%= q.quote %></p><small><%= q.author %>, 
		    	<%= link_to q.title, "http://www.amazon.com/dp/#{q.asin}?tag=ttbiz-20" %>
		    </small></blockquote>
		    <% if !q.tw_user.blank? %>
		      <p>Posted by <%= q.tw_user %></p>
		    <% end %>
		  </div>
		</div>

	<% end %>	
<% end %>

<div class="row">
	<div class="offset2 span8">
		<hr>
		<%= render 'layouts/social' %>
	</div>
</div>

<!-- to let others submit quotes
<div class="row">
	<div class="span6 offset3">

		<h3>Contribute to the ideas that are shaping the future.</h3>

		<p>What ideas guide your world?<br>
		What quote had the greatest impact on you lately?<br>
		Share insightful quotes from authors that inspire you.<br>		 
		</p>
		<p><%= link_to "Submit a quote &raquo;".html_safe, submit_quote_path, class: "btn btn-large btn-primary" %></p>	

	</div>
</div>
-->
<div class="hero-unit">
	<div id="digren"><h1>Digital Renaissance</h1></div>
    <h2>A manifesto</h2>
	<ol>
		<li>We are entering a new era. It promises prosperity and richness of ideas as never before.</li>
		<li>Never before mankind had the means to supply food, clothes and shelter for all. Never before were humans freed from physical labor as now.</li>
		<li>Never was as easy to create and spread ideas. The open source movement wins. The more you share your idea the more valuable it gets.</li>
		<li>Beyond the <em>knowledge worker</em>, it's time for the <em>artistic worker</em>.</li>
		<li>Business and work must have a purpose. Business can not be just about profits anymore.</li>
		<li>We need more dreamers, entrepreneurs willing to bet all on their beliefs.</li>
	</ol>
  <hr>
  <%= render 'layouts/social' %>
</div>
<script>
    $('.carousel').carousel({
        interval: 1500
    })​;
</script>



