<!DOCTYPE html>
<html>
<head>
  <title>Digital Renaissance</title>
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="4meBIyrBLfY_m3kaYjlL4Y7jU2SbiQYqpdMZ4b3cUHA" />
  <%= render 'layouts/shim' %> 
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=143308879051043";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>   
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>

</body>
</html>
